.place__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  max-width: 460px;

  margin: 0;
  padding: 0;

  color: #fff;

  font: 900 72px/76px 'Inter', sans-serif;
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 330px;

    font: 900 42px/46px 'Inter', sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    padding: 0 16px;

    font: 900 32px/35px 'Inter', sans-serif;
  }
}