.cover__subtitle {
  max-width: 360px;

  margin: 32px auto 0;
  padding: 0;

  color: #fff;

  font: 400 18px/22px 'Inter', sans-serif;

  text-align: center;

  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    
    margin: 16px auto 0;
    padding: 0 16px;

    font: 400 14px/16px 'Inter', sans-serif;
  }
}