.cover__title {
  max-width: 560px;

  margin: 0 auto;
  padding: 0;

  color: #fff;

  font: 900 72px/76px 'Inter', sans-serif;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 250px;

    font: 900 32px/35px 'Inter', sans-serif;
  }
}