.header__title {
  max-width: 720px;

  margin: 56px 0 0;
  padding: 0;

  text-align: center;

  color: #fff;

  font: 900 96px/100px 'Inter', sans-serif;
}

@media screen and (max-width: 1279px) {
  .header__title {
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    max-width: 288px;

    font: 900 40px/44px 'Inter', sans-serif;
  }
}